#timer {
    text-align: center;
    font-weight: bolder;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.text-center {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#here {
    align-content: center
}

#submit {
    align-content: center
}

.jumbotron {
    background-image: linear-gradient(to right, turquoise , green );
}
